svg {
  background-color: #fafafa;
}

#title {
  letter-spacing: 4px;
  font-weight: 700;
  font-size: x-large;
}

text.tiny {
  font-size: 10pt;
}

text.light {
  fill: lightgrey;
}

.world {
  stroke: lightgrey;
  stroke-width: 4px;
}

.cell {
  stroke: white;
  stroke-width: 1px;
}

.label {
  text-anchor: middle;
}

.dialog code {
  height: 100%;
}

.headnav {
  margin-left: 30px;
}

.label > .name {
  dominant-baseline: text-after-edge;
}

.label > .value {
  dominant-baseline: text-before-edge;
}

.legend-color {
  stroke-width: 1px;
  stroke: darkgrey;
}

.node {
  font: 300 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  fill: #bbb;
}

.node:hover {
  fill: #000;
}

.link {
  stroke: steelblue;
  stroke-opacity: 0.9;
  fill: none;
  pointer-events: none;
}

.node:hover,
.node--source,
.node--target {
  font-weight: 700;
}

.node--source {
  fill: #2ca02c;
}

.node--target {
  fill: #d62728;
}

.link--source,
.link--target {
  stroke-opacity: 1;
  stroke-width: 10px;
}

.link--source {
  stroke: #d62728;
}

.link--target {
  stroke: #2ca02c;
}

.node {
  font: 300 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  fill: #bbb;
}

.node:hover {
  fill: #000;
}

.link {
  stroke: #252525;
  /* stroke: steelblue; */
  stroke-opacity: 0.8;
  fill: none;
  pointer-events: none;
}

.node:hover,
.node--source,
.node--target {
  font-weight: 700;
}

.node--source {
  fill: #2ca02c;
}

.node--target {
  fill: #d62728;
}

.link--source,
.link--target {
  stroke-opacity: 1;
  stroke-width: 2px;
}

.link--source {
  stroke: #d62728;
}

.link--target {
  stroke: #2ca02c;
}

.col {
  float: left;
}

.panel {
  width: 20%;
  height: 95vh;
  width: 20%;
  /* height: 100%; */
  resize: both;
  /* position: absolute; */
  overflow: auto;
  z-index: 2;
}

.panel pre {
  height: 100vh;
}

.dialog pre {
  height: 100%;
}

.panel pre code {
  height: 100%;
}

.view {
  width: 80%;
}

.labels g text {
  font-size: 10px;
}

button {
  border-radius: 17px;
  border-color: brown;
  background-color: lightgray;
  color: #9e7300;
  font-weight: bold;
  outline: none;
}

button.selected {
  background-color: white;
  border-color: coral;
  outline: none;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #333333;
}

/* Add shadow effect to chart. If you don't like it, get rid of it. */
svg {
  -webkit-filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.25));
}

/*Styling for the lines connecting the labels to the slices*/
polyline {
  opacity: .3;
  stroke: black;
  stroke-width: 2px;
  fill: none;
}

/* Make the percentage on the text labels bold*/
.labelName tspan {
  font-style: normal;
  font-weight: 700;
}

/* In biology we generally italicise species names. */
.labelName {
  font-size: 0.9em;
  font-style: italic;
}

.node circle {
  cursor: pointer;
  stroke: #3182bd;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
  pointer-events: none;
  text-anchor: middle;
}

line.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}

.hoverer {
  fill: transparent;
  stroke: whitesmoke;
  stroke-width: 0px;
}

.hoverer:hover {
  stroke-width: 3px;
}

.parents {
  fill: transparent;
  stroke: darkblue;
  stroke-width: 0px;
}

.parents:hover {
  stroke-width: 3px;
}

.cells path {
  stroke: black;
  stroke-width: 1px;
}

.labels .label {
  color: black;
}

.highlight {
  background: yellow;
  color: black;
}

path {
  color: red;
}
/*# sourceMappingURL=style.css.map */