.cd-panel__content li {
    background: #b4bfb3;
margin: 2px;
padding: 13px;
border-radius: 6px;
}
#animationtest {
    width: 200px;
    height: 200px;
    background: yellow;
    position: absolute;
    z-index: 2000;
    animation-name: blinking;
    animation-duration: 20s;
    animation-iteration-count: infinite;
} 
.searched {
    animation-duration: 6s;
    animation-name: blinking;
    animation-iteration-count: infinite;
}
@keyframes blinking {
    0% {
        fill: green !important;   
        stroke: red !important;
        background-color: red;
    }
    10% {
        fill: red !important;
        stroke: yellow !important;
        background-color: yellow;
    }
    60% {fill: yellow !important;
        stroke: green !important;
        background-color: red;
    }
    90% {
        fill: green !important;
        stroke: pink !important;
        background-color: green;
    }
}