.hoverer {
    fill: transparent;
    stroke: whitesmoke;
    stroke-width:0px;
  }
  
  .hoverer:hover {
    stroke-width: 3px;
  }
.parents {
    fill: transparent;
    stroke: darkblue;
    stroke-width:0px;
  }
  
 .parents:hover {
    stroke-width: 3px;
  }
  .cells path {
    stroke: black;
    stroke-width:1px;
  }
  .labels {
    .label {
      color:  black;
    }
  }